@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue";
}

#interface {
    margin: auto;
    padding: 0;
    width: 1500px;
    height: 2015px;
    background-color: #FFFFFF;
}

#header {
    background-color: #707070;
    width: 1500px;
    height: 320px;
}

#header h1 {
    padding-top: 69px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    color: #ffffff;
}
#header h2 {
    letter-spacing: 0;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
}

#header h3 {
    padding-top: 24px;
    letter-spacing: 0;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
}

#menu ul {
    margin-left: 371px;
    padding-top: 50px;
}

#menu ul li{
    text-align: center;
    font-size: 14px;
    width: 160px;
    margin-right: 40px;
    list-style: none;
    display: inline-block;
    line-height: 40px;
    color: #888888;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
}

#body h1 {
    padding-top: 48.67px;
    text-align: center;
    color: #888888;
    letter-spacing: 0;
    font-size: 18px;
    font-weight: bold;
}

.row1 {
    padding-top: 50px;
    margin-left: 286px;
}
.row2 {
    padding-top: 39px;
    margin-left: 286px;
}

.productCard{
    padding-right: 41px;
    display: inline-block;
    width: 201px;
    height: 350px;
}

.productCard img{
    background: #FFFFFF;
    height:150px;
    width: 200px;
}

.productCard .productName{
    padding-top: 14px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.productCard .description{
    padding-top: 10px;
    width: 200px;
    height: 60px;
    color: #888888;
    text-align: left;
    letter-spacing: 0;
    line-height: 16px;
    opacity: 1;
    font-size: 12px;
}

.productCard .de{
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.productCard .price{
    padding-top: 6px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: #888888;
    letter-spacing: 0px;
    opacity: 1;
    text-align: left;

}
.productCard .ou{
    padding-top: 7px;
    height: 14px;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.productCard button{
    margin-top: 10px;
    font-size: 16px;
    color: #888888;
    width: 200px;
    height: 30px;
    background: #FFFFFF ;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}

.friends {
    color: #888888;
    margin-top: 43px;
    width: 260px;
    line-height: 39px;
    font-size: 16px;
    margin-left: 620px;
    background: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}

.share h1{
    margin-top: 164px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0;
    color: #ffffff;
}

.share p {
    padding-top: 44px;
    color: #888888;
    font-size: 14px;
    margin-left: 483px;
    background: #FFFFFF;
    letter-spacing: 0;
    border-radius: 4px;
    opacity: 1;
}


.input-fields{
    margin-left: 390px;
}

.input{
    padding-top: 39px;
    display: inline-block;
}
.input .name {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
.input .mail {
    margin-left: 40px;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#input-box1{
    width: 340px;
    height: 30px;
    border: 1px solid #707070;
}
#input-box2{
    margin-left: 40px;
    width: 340px;
    height: 30px;
    border: 1px solid #707070;
}

.send {
    color: #888888;
    margin-top: 50px;
    width: 260px;
    line-height: 39px;
    font-size: 16px;
    margin-left: 620px;
    background: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}

#footer {
    margin-top: 142.36px;
    background-color: #707070;
    width: 1500px;
    height: 186.64px;
}

#footer p {
    line-height: 18px;
    padding-top: 65px;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0;
    opacity: 1;
}